*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 5rem;
}

.container {
    max-width: 1000px;
    margin-inline: auto;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 100px;
    overflow: hidden;
}

.left-side {
    background-color: #e93e32;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-side {
    padding: 4rem;
}