@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Karla+Tamil+Upright:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-primary: "Itim", sans-serif;
}

body {
  padding: 5rem;
  font-family: var(--font-primary);
}

.container {
  max-width: 1000px;
  margin-inline: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 100px;
  overflow: hidden;
}

.message-section {
  background-color: #e93e32;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-section {
  padding: 4rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.form-element label {
  display: block;
}

.sign-in {
  text-align: center;
}
